html, body {
	position: relative;
	width: 100%;
	height: 100%;
}
p {
	width: 100%;
}

#butInstall {
	width: 100%;
}

.-bg {
	background-color: hsl(var(--h), var(--s), var(--l));
}

.-flat {
	--hi: var(--h);
	--si: var(--s);
	--li: var(--l);

	background-color: hsl(var(--hi), var(--si), var(--li));
	box-shadow: 4px 4px 8px hsl(var(--h), var(--s), calc(var(--l) - 10%)),
				-4px -4px 8px hsl(var(--h), var(--s), calc(var(--l) + 10%));
}

.-flat.-active:active {
	box-shadow: inset 4px 4px 8px hsl(var(--hi), var(--si), calc(var(--li) - 10%)),
				inset -4px -4px 8px hsl(var(--hi), var(--si), calc(var(--li) + 10%));
}

.-conc {
	--hi: var(--h);
	--si: var(--s);
	--li: var(--l);
	--hi: var(--h);

	background-image: linear-gradient(145deg,
		hsl(var(--hi), var(--si), calc(var(--li) + 5%)),
		hsl(var(--hi), var(--si), calc(var(--li) - 5%)));
	box-shadow: 4px 4px 8px hsl(var(--h), var(--s), calc(var(--l) - 10%)),
				-4px -4px 8px hsl(var(--h), var(--s), calc(var(--l) + 10%));
}

.-conc.-active:active {
	background-image: linear-gradient(145deg,
		hsl(var(--hi), var(--si), var(--li)),
		hsl(var(--hi), var(--si), var(--li)));
	box-shadow: inset 4px 4px 8px hsl(var(--hi), var(--si), calc(var(--li) - 10%)),
				inset -4px -4px 8px hsl(var(--hi), var(--si), calc(var(--li) + 10%));
}